<html>
    <head>
        <title>Oluwabusola Ore's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">OluwabusolaOre's Blog</a></h1>
        </div>
        <div>
            <p>Published: 14.06.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The best thing to do when you don't have anything to say is to remain silent</p>
        </div>
        <div>
            <p>Published: 16.06.2019, 12:14</p>
            <h2><a href="">My Second post</a></h2>
            <p>The best thing to do when you don't have anything to say is to remain silent</p>
        </div>
    </body>
</html>